.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-column{
  flex-direction: column;
  display: flex;
}
.header-top{
  flex-direction: row;
  display: flex;
  border: 1px solid #ccc;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF; /* Ændret til hvid */
}

.basket-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
}

.basket-layout{
  display: flex;
  flex-direction: row; /* or column, depending on your layout */
  align-items: flex-start; /* This aligns children to the top */
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}
.basket-items{
  flex: 3;
  background-color: #fff; /* White background for the content */
  border-radius: 0px; /* Slightly rounded corners for the boxes */
  margin-bottom: 20px; /* Space from the bottom */
}
.basket-items2{
  flex: 3;
  padding: 0px; /* Inner spacing */
  border-radius: 0px; /* Slightly rounded corners for the boxes */
  margin-bottom: 20px; /* Space from the bottom */
}

.basket-Elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  margin: 10px;
  gap: 20px;
}
body {
  background-color: #F5F5F5; /* Ændret til en mørkere hvid */
}

.product-details {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.details-right {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: row-reverse;
}
.right-side1 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-direction: column;
  padding: 12px;
  background-color: #fff;
  border-radius: 0px;
  font-size: 14px;
}

.right-side1 h2 {
  font-size: 18px; /* Juster værdien for ønsket skriftstørrelse */
}

.AddressForm {
  font-size: 14px;
}

.AddressForm input{
  font-size: 14px;
}

.right-side1:not(:last-child) {
  margin-bottom: 20px; /* or the amount of space you want between the boxes */
}
.special-class {
  margin-top: 66px;
}

.right-side1 button {
  background-color: #000000; /* Set your desired background color */
  color: antiquewhite;
  padding: 10px 15px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.right-side2 {
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin-left: 10px;
  border-radius: 0px;
  margin-bottom: 20px;
  flex: 1;
  align-self: flex-start; /* This will override the parent alignment if necessary */
}
.terms-conditions-layout {
  margin-top: 15px;
  display: flex;
}

.details-column {
  display: flex;
  flex-direction: column;
}
.details-row {
  display: flex;
  flex-direction: row;
}

.delete-button {
  margin-left: 10px;
}

.quantity-section,
.recurring-section,
.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.subtotal-container,
.discount-container,
.total-container {
  display: flex;
  justify-content: space-between; /* Adjust the value as needed */
  margin-bottom: 10px; /* Adjust the value as needed */
}

.label {
  margin-right: 20px; /* Adjust the value as needed */
}
.text-field-right {
  margin-right: 10px; /* Adjust the value as needed */
  flex-direction: row-reverse;
}

button {
  background-color: #fff;
  color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 1000px;
  padding: 9px 10px;
  cursor: pointer;
}

button1 {
  background-color: #fff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 1000px;
  padding: 9px 10px;
  cursor: pointer;
}

quantityField {
  width: 10px;
}

.quantity-input {
  margin-left: 10px; /* Juster værdien efter behov */
}

.row-container-text-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.label-container {
  flex-basis: 20%; /* Adjust the width as needed */
  text-align: left;
}

.text-field-container {
  flex-basis: 75%; /* Adjust the width as needed */
}

.text-field {
  width: 100%;
}

/* Apply similar styles to other labels and inputs */
label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label input {
  width: 50%; /* Adjust the width as needed */
  margin-left: auto; /* This pushes the input to the right */
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}

.popup-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation: fadeIn 0.5s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0;
}

.form-row label {
  //flex: 0 0 20%; /* Giver label en fast bredde */
  flex: 1;
  //margin-right: 10px; /* Tilføjer lidt plads mellem label og input/textarea */
  text-align: left;
}

.form-row .input-container, .form-row textarea {
  flex: 1; /* Giver input/textarea mulighed for at fylde den resterende plads */
}

.form-row textarea {
  height: 40px; /* eller hvad end den passende højde er for dine inputfelter */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: none; /* Fjerner muligheden for brugeren til at ændre størrelsen */
  width: 95%;
}

textarea {
  height: 100px; /* Eller enhver anden højde du ønsker */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: vertical; /* Tillader brugeren at ændre højden på textarea */
}

.form-checkbox {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 10px 0;
}
.form-checkbox label {
  flex: 1; /* Ensures label has a fixed width similar to .form-row label */
  text-align: left;
}
.form-checkbox label span {
  flex-grow: 1; /* Sørger for at teksten kan vokse og fylde tilgængelig plads */
  margin-left: -70px; /* Justerer teksten til venstre */
}
.form-checkbox input[type="checkbox"] {
  flex-shrink: 0; /* Forhindrer checkbox i at vokse */
  margin-left: -75px; /* Placerer checkbox til højre */
}
.select-delivery-address {
  width: 100%
}

.bn30 {
  cursor: pointer;
  outline: none;
  font-size: 16px;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  color: white; /* Tekstfarve */
  padding: 1em 2em; /* Juster padding for størrelse på knappen */
  border-radius: 0px; /* Afrundede hjørner */
  border: none; /* Ingen kant */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), /* Indre skygge */
  0 7px 20px rgba(0, 0, 0, 0.2); /* Ydre glød/skygge */
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative; /* For pseudo-elementer */
}

/* Pseudo-element for ekstra effekt */
.bn30:before {
  content: '';
  position: absolute;
  top: -5px; /* Juster position */
  right: -5px; /* Juster position */
  bottom: -5px; /* Juster position */
  left: -5px; /* Juster position */
  z-index: -1;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px; /* Skal være større end knappens border-radius */
  transition: opacity 0.3s ease-in-out;
}


/* Hover effekt */
.bn30:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), /* Indre skygge */
  0 15px 35px rgba(0, 0, 0, 0.2); /* Ydre glød/skygge */
  transform: translateY(-2px);
}

.bn30:hover:before {
  opacity: 0; /* Gør pseudo-elementet usynligt ved hover */
}

/* Fokus og aktive tilstande for tilgængelighed */
.bn30:focus,
.bn30:active {
  box-shadow: 0 0 0 3px rgba(70, 102, 255, 0.5); /* Tilgængelighed: outline effekt */
}

/* Stil til tekst inden i knappen, hvis nødvendigt */
.bn30 .text {
  /* Stil til tekst går her */
}

.AddressForm input, .form-row textarea {
  border-radius: 0px; /* Ændret til 0px for firkantede kanter */
  border: 0.5px solid #ccc; /* Ændret til 0.5px for tyndere kanter */
}

select {
  border-radius: 0px; /* Ændret til 0px for firkantede kanter */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}